
#div1 button {
    background-color: transparent;
    border-radius: 48%;
    border-color: #CCD1D1;
    margin-left: max;
}

#div1 input {
    border-color: transparent;
}

#div2 {
    border: 1px solid #CCD1D1;
    margin-left: 0.5%;
    margin-right: 0.5%;
}

#div2 input{
    margin-right: 5px;
    text-align: center;
    width: 300px;
}




