#headdiv {
  background-color: blueviolet;
  margin-left: 0.5%;
  margin-right: 0.5%;
  border-radius: 4px;
}

#div1 {
  border: 1px solid #CCD1D1;
  justify-content: space-between;
  display: flex;
  justify-content: space-between;
  margin-left: 0.5%;
  margin-right: 0.5%;
  margin-bottom: 5px;
  border-radius: 4px;
}

h3 {
  color: white;
  font-weight: bolder;
  text-align: center;
}

.transaction-form {
  margin-bottom: 20px;
}

.transaction-table {
  margin: 0 auto;
  max-width: 1250px;
}

table {
  margin-top: 5px;
  margin-left: 0.5%;
  margin-right: 0.5%;
  text-align: center;
  width: 99%;
  table-layout: auto;
}

table, th, td {
  border: 1px solid #CCD1D1;
  border-collapse: collapse;
}

form {
  border: 1px solid #CCD1D1;
  margin-left: 0.5%;
  margin-right: 0.5%;
}

#formDiv {
  display: flex;
  justify-content: center;
  margin-top: 2px;
}

div input {
  margin-right: 5px;
  height: 30px;
  width: 100%;
}

#addButton {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

select {
  padding: 10px; 
  padding-right: 8px;
  margin-right: 5px;
  font-size: 12px;
  /* height: 15px; */
  width: 100%;
  text-align: center;
}